/** 单条信息 */
.trans {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.trans div {
  align-content: space-around;
  display: grid;
}

.trans textarea {
  background-color: transparent;
  color: #181;
}

.trans button {
  color: cornflowerblue;
  background-color: #311707;
}
.trans button:hover {
  background-color: #51260c;
  cursor: pointer;
}

button {
  width: 155px;
}

input {
  width: 359px;
}

select {
  background: transparent;
  color: blueviolet;
}

option {
  background: #181818;
}

/** 进制转换 */
.binConfig {
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.binConfig h3 {
  margin: 10px;
}
.binConfig div {
  margin: 5px;
  display: flex;
  align-items: center;
}
.binConfig span {
  margin: 5px;
  display: flex;
  width: 105px;
  justify-content: flex-end;
}

.binConfig input {
  background: transparent;
  color: #181;
}
